#spinner {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

/*body {
    font-family: Arial, sans-serif;
    background-color: grey;
}*/

/*.table{
    width: 100%;
    thead{
    tr{
        th {
            padding: 10px 10px;
            background: #00adee;
            font-size: 15px;
            text-transform: uppercase;
            vertical-align: top;
            color: #1D4A5A;
            font-weight: normal;
            text-align: left;
        }
    }
    }
    tbody{
    tr{
        td{
            padding: 10px;
            background: #f2f2f2;
            font-size: 14px;
        }
    }
    }
}*/


.add, .edit, .save, .delete {
    outline: none;
    background: none;
    border: none;

}

.edit, .save, .delete {
    padding: 10px 10px;
    margin: 5%;
    cursor: pointer;
}

.add {
    float: right;
    background: transparent;
    border: 1px solid #ffffff;
    color: #000000;
    font-size: 13px;
    padding: 0;
    padding: 3px 5px;
    cursor: pointer;
}

add:hover {
    background: #ffffff;
    color: #00adee;
}

.save {
    display: none;
    background: #32AD60;
    color: #ffffff;
}

save:hover {
    background: #32AD60;
}

.edit {
    background: #2199e8;
    color: #ffffff;
}

edit:hover {
    background: #2199e8;
}

.delete {
    background: #EC5840;
    color: #ffffff;
}

delete:hover {
    background: #EC5840;
}